*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(37, 23, 73);
    box-sizing: border-box;

}
.vid-box{
    width: 30%;
    margin-top: 20px;
    background-color: #ff004f;
    padding: 10px;
    height: 300px;
    align-items: center;

    display: flex;
    margin-left: 10px;
    border-radius: 5px;
    flex-direction: column;
    

}


.vid-title{
    color: rgb(58, 165, 184);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 3px;

    
}
.vid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}



.vid-container .vid{
    height: 80%;
    width: 90%;



    overflow: hidden;
    border-radius: 10px;

}

.vid-container .vid video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    outline: none;
    border: none;
    cursor: pointer;
}


.vid-container .vid video:hover{
    transition: 0.2s linear;
    transform: scale(1.1);
    
}
.vid-container .vid .active{
    position: fixed;
    top:50%; 
    left:50% ;
    transform: translate(-50%, -50%);
    height: 100%;
    width:100% ;

    z-index: 1;
}
.vid-container .vid .active:hover{
    transition: none;
    transform: translate(-50%, -50%) scale(1);
}

.home a{
    padding-left: 2px;
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    text-decoration:none;
    position: relative;
}
.home a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    background: #ff004f;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
.home a:hover::after{
    width: 100%;
}

.vid-container .vid img{
    height: 100%;
    width: 100%;
    /*object-fit: contain;*/
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 50px;
    color: burlywood;
    display: block;
    margin: auto;
    
}
.vid-container .vid img:hover{
    transition: 0.2s linear;
    transform: scale(1.1);
    
}

@media screen and (max-width: 600px) {
    .vid-title{
        font-size: 15px;
        margin-left: 55%;
        margin-top: 50%;

    }
  }